body{
background-color: blanchedalmond;
margin: 20px;
font-family: Arial, Helvetica, sans-serif;

}

p{
color: black;
font-size: larger;
margin-bottom: 20px;
border: black;
}

img{
border: 1px;
border-style: solid;
padding: 10px;
width: 250px;
opacity: 0.5;
}

h1{
color: rgb(89, 135, 21);
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 16px;
border-style: solid;
text-align: center;
text-transform: uppercase;
}

h2{
    color: rgb(89, 135, 21);
}
a:link{
    color: red;
}
a:visited{
    color: red;
}
a:hover{
    color: blue;
}